<!-- Modal -->
<div id="login_modal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
        <fieldset>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="luser">User</label>
          <div class="col-md-4">
          <input id="luser" name="luser" type="text" class="form-control input-md" required>
          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="lpassword">Password</label>
          <div class="col-md-4">
            <input id="lpassword" name="lpassword" type="password" class="form-control input-md" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-7">
              <label class="checkbox control-label">
                  <input type="checkbox" value="remember-me" id="remember_me"> Remember me
              </label>
          </div>
        </div>


        </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <!-- Button (Double) -->
        <div class="form-group">
          <div class="col-md-7">
            <button id="login_btn" name="login_btn" class="btn btn-success">Login</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

